.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: #FFD400;
    color: #16479D;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar_logo{
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 40px;
    margin-right: 0.8em;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li,
.navbar a{
    text-decoration: none;
    color: #16479D;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
}

.navbar li:hover{
    background-color: #16479d;
    color: #fff;
}

.navbar li:hover > a{
    background-color: #16479d;
    color: #fff;
}


/* Menu hamburguer */
.navbar label{
    background-color: var(--cor-branco);
    display: none;
}

.caixaMenu{
    display: none;
}

@media (max-width: 768px){
    .navbar label{
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    ul{
        background-color: #FFD400;
        flex-direction: column;
        font-size: 20px;
        right: -400px;
        margin: 0;
        position: absolute;
        text-transform: uppercase;
        top: 100%;
        transition: 0.5s all;
        width: 300px;
    }

    ul li{
        border-bottom: 1px solid grey;
        margin: 0;
        width: 100%;
    }

    ul li a, ul li p{
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 1em 0;
        width: 100%;
    }

    .caixaMenu:checked ~ ul{
        right: 0;
    }
}